<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [350, 150]
});
</script>

<% content_for :title do %>API Accelerator Monitor<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-delius-offender-api-master" data-view="CircleCi" data-title="Delius API"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delius-api-dev" data-view="ServerStatusSquares" data-title="DEV"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delius-api-stage" data-view="ServerStatusSquares" data-title="STAGE"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delius-api-prod" data-view="ServerStatusSquares" data-title="PRODUCTION"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-delius-api-job-schedular-master" data-view="CircleCi" data-title="Delius API Job Schedular"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="delius-api-job-schedular-dev" data-view="ServerStatusSquares" data-title="DEV"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="delius-api-job-schedular-prod" data-view="ServerStatusSquares" data-title="PRODUCTION"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="circle-ci-noms-digital-studio-delius-api-pollpushpoke-master" data-view="CircleCi" data-title="Delius API Job Poll-Push-Poke"></div>
     </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="delius-api-job-pollpushpoke-dev" data-view="ServerStatusSquares" data-title="DEV"></div>
     </li>
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="delius-api-job-pollpushpoke-prod" data-view="ServerStatusSquares" data-title="PRODUCTION"></div>
     </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-rsr-calculator-service-master" data-view="CircleCi" data-title="Risk Calculator service"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rsr-calculator-service-dev" data-view="ServerStatusSquares" data-title="DEV"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="rsr-calculator-service-prod" data-view="ServerStatusSquares" data-title="PRODUCTION"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-viper-service-master" data-view="CircleCi" data-title="VIPER service"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="viper-service-dev" data-view="ServerStatusSquares" data-title="DEV"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="viper-service-prod" data-view="ServerStatusSquares" data-title="PRODUCTION"></div>
    </li>
  </ul>
</div>
